package ${package.mapper};
#if($mapperFrameworkPkg.size()>0)

#end
#foreach($pkg in ${mapperFrameworkPkg})
import ${pkg};
#end
#if($mapperJavaPkg.size()>0)

#end
#foreach($pkg in ${mapperJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment} Mapper接口
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClassSimpleName}
#end
public interface ${mapper} extends ${mapperSuperClass}<${entity}> {
#if(${generateQuery})
    
    List<${queryVO}> selectByXml(${queryDTO} queryDTO, IPage<${queryVO}> page);
#end
}
