package ${package.service};
#if($serviceFrameworkPkg.size()>0)

#end
#foreach($pkg in ${serviceFrameworkPkg})
import ${pkg};
#end
#if($serviceJavaPkg.size()>0)

#end
#foreach($pkg in ${serviceJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${service} extends ${serviceSuperClass}<${entity}> {
#if(${generateCreate})

    Serializable createByDTO(${createDTO} createDTO);
#end
#if(${generateUpdate})

    boolean updateByDTO(${updateDTO} updateDTO);
#end
#if(${generateDelete} && ${table.havePrimaryKey})

    @Override
    boolean removeById(Serializable id);
#end
#if(${generateVoById} && ${table.havePrimaryKey})

    ${queryVO} voById(Serializable id);
#end
#if(${generateVoList})

    List<${queryVO}> voList(${queryDTO} queryDTO);
#end
#if(${generateVoPage})

    IPage<${queryVO}> voPage(${queryDTO} queryDTO, long current, long size);
#end
#if(${generateImport})

    void excelTemplate(OutputStream os);

    int excelImport(InputStream is);
#end
#if(${generateExport})

    void excelExport(${queryDTO} queryDTO, OutputStream os);
#end
}

