package ${package.serviceImpl};
#if($serviceImplFrameworkPkg.size()>0)

#end
#foreach($pkg in ${serviceImplFrameworkPkg})
import ${pkg};
#end
#if($serviceImplJavaPkg.size()>0)

#end
#foreach($pkg in ${serviceImplJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${generate.service})
public class ${serviceImpl} extends ${serviceImplSuperClass}<${mapper}, ${entity}> implements ${service} {
#else
public class ${serviceImpl} extends ${serviceImplSuperClass}<${mapper}, ${entity}> {
#end
#if(${generateCreate})

    #if(${generate.service})
    @Override
    #end
    public Serializable createByDTO(${createDTO} createDTO) {
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(createDTO, entity);
        super.save(entity);
        #if(${table.primaryKeyField})
        return entity.get${table.primaryKeyField.capitalName}();
        #else
        return null;
        #end
    }
#end
#if(${generateUpdate})

    #if(${generate.service})
    @Override
    #end
    public boolean updateByDTO(${updateDTO} updateDTO) {
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(updateDTO, entity);
        return super.updateById(entity);
    }
#end
#if(${generateDelete} && ${table.havePrimaryKey})

    @Override
    public boolean removeById(Serializable id) {
        #if(${table.primaryKeyField})
        return super.removeById(id);
        #else
        throw new IllegalStateException("can't find id property");
        #end
    }
#end
#if(${generateVoById} && ${table.havePrimaryKey})

    #if(${generate.service})
    @Override
    #end
    public ${queryVO} voById(Serializable id) { 
        #if(${table.primaryKeyField})
        ${queryDTO} queryDTO = new ${queryDTO}();
        queryDTO.set${table.primaryKeyField.capitalName}((${table.primaryKeyField.propertyType}) id);
        return getBaseMapper().selectByXml(queryDTO, null).stream().findFirst().orElse(null);
        #else
        throw new IllegalStateException("can't find id property");
        #end
    }
#end
#if(${generateVoList})

    #if(${generate.service})
    @Override
    #end
    public List<${queryVO}> voList(${queryDTO} queryDTO) {
        return getBaseMapper().selectByXml(queryDTO, null);
    }
#end
#if(${generateVoPage})
    #if(${generate.service})
    @Override
    #end
    public IPage<${queryVO}> voPage(${queryDTO} queryDTO, long current, long size) {
        Page<${queryVO}> page = new Page<>(current, size);
        List<${queryVO}> voList = getBaseMapper().selectByXml(queryDTO, page);
        page.setRecords(voList);
        return page;
    }
#end
#if(${generateImport})

    #if(${generate.service})
    @Override
    #end
    public void excelTemplate(OutputStream os) {
        ${excelApiClass}.write(os, ${excelImportDTO}.class).sheet()
            .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
            .doWrite(Collections.emptyList());
    }

    #if(${generate.service})
    @Override
    #end
    public int excelImport(InputStream is) {
        List<${excelImportDTO}> dataList = ${excelApiClass}.read(is)
            .head(${excelImportDTO}.class).sheet().doReadSync();
        List<${entity}> entityList = dataList.stream().map(excelImportDTO -> {
            ${entity} entity = new ${entity}();
            BeanUtils.copyProperties(excelImportDTO, entity);
            return entity;
        }).collect(Collectors.toList());
        super.saveBatch(entityList);
        return entityList.size();
    }
#end
#if(${generateExport})

    #if(${generate.service})
    @Override
    #end
    public void excelExport(${queryDTO} queryDTO, OutputStream os) {
        ${excelApiClass}.write(os, ${excelExportDTO}.class).sheet()
            .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
            .doWrite(getBaseMapper().selectByXml(queryDTO, null));
    }
#end
}
