package ${package.service};
#if($serviceFrameworkPkg.size()>0)

#end
#foreach($pkg in ${serviceFrameworkPkg})
import ${pkg};
#end
#if($serviceJavaPkg.size()>0)

#end
#foreach($pkg in ${serviceJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment} 服务类
 *
 * @author ${docAuthor}
 * @since ${docDate}
 */
public interface ${service} extends ${serviceSuperClass}<${entity}> {
#if(${enableCreateByDto})

    Serializable createByDto(${createDto} dto);
#end
#if(${enableUpdateByDto})

    boolean updateByDto(${updateDto} dto);
#end
#if(${enableDeleteById} && ${table.havePrimaryKey})

    @Override
    boolean removeById(Serializable id);
#end
#if(${enableSelectVoById} && ${table.havePrimaryKey})

    ${queryVO} voById(Serializable id);
#end
#if(${enableSelectVoList})

    List<${queryVO}> voList(${queryDto} dto);
#end
#if(${enableSelectVoPage})

    IPage<${queryVO}> voPage(${queryDto} dto, long current, long size);
#end
#if(${enableExcelImport})

    void excelTemplate(OutputStream os);

    int excelImport(InputStream is);
#end
#if(${enableExcelExport})

    void excelExport(${queryDto} dto, OutputStream os);
#end
}

