package ${controller.packageName};
#if($controllerFramePkg.size()>0)

#end
#foreach($pkg in ${controllerFramePkg})
import ${pkg};
#end
#if($controllerJavaPkg.size()>0)

#end
#foreach($pkg in ${controllerJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-前端控制器
 *
 * @author ${author}
#if(${javadocWithSeeTags})
 * @see ${entity.classCanonicalName}
 * @see ${mapper.classCanonicalName}
 * @see ${serviceImpl.classCanonicalName}
#end
#if(${date})
 * @since ${date}    
#end
 */
#if(${springDoc})
@Tag(name= "$!{table.comment}-前端控制器", description = "$!{table.comment}-前端控制器")
#elseif(${swagger})
@Api(tags = "$!{table.comment}")
#end
#if(${crossOrigin})
@CrossOrigin
#end
#if(${restController})
@RestController
#else
@Controller
#end
@RequestMapping("$!{requestBaseUrl}")
#if(${lombok})
@RequiredArgsConstructor
#end
#if(${controllerSuperClass})
public class ${controller.classSimpleName} extends ${controllerSuperClass} {
#else
public class ${controller.classSimpleName} {
#end

    private final ${baseService} baseService;
#if(!${lombok})

    public ${controller.classSimpleName}(${baseService} baseService) {
        this.baseService = baseService;
    }
#end
#if(${generateCreate})

    #if(${springDoc})
    @Operation(summary = "新增")
    #elseif(${swagger})
    @ApiOperation(value = "新增")
    #else
    /**
     * 新增
     *
     * @param dto 新增入参对象
     * @return 新增后的数据id
     */
    #end
    #if(${restful})
    @PostMapping("")
    #else
    @PostMapping("/create")
    #end
    #if(!${restController})
    @ResponseBody
    #end
    #if(${table.idField})
    public ${returnType.toTypeString("${table.idField.propertyType}")} create($!{requiredBodyStr}$!{validStr}${createParam.classSimpleName} dto) {
    #else
    public ${returnType.toTypeString("?")} ${createMethodName}($!{requiredBodyStr}$!{validStr}${createParam.classSimpleName} dto) {     
    #end
    #if(${table.idField})
        return ${returnType.toInvokeString("baseService.${createMethodName}(dto)")};
        #else
        baseService.${createMethodName}(dto)
        return ${returnType.toInvokeString("")};        
    #end
    }
#end
#if(${generateUpdate})

    #if(${springDoc})
    @Operation(summary = "修改")
    #elseif(${swagger})
    @ApiOperation(value = "修改")
    #else
    /**
     * 修改
     *
     * @param dto 修改入参对象
     * @return 是否成功
     */
    #end
    #if(${restful})
    @PutMapping("")
    #else
    @PostMapping("/update")
    #end
    #if(!${restController})
    @ResponseBody
    #end
    public ${returnType.toTypeString("Boolean")} ${updateMethodName}($!{requiredBodyStr}$!{validStr}${updateParam.classSimpleName} dto) {
        return ${returnType.toInvokeString("baseService.${updateMethodName}(dto)")};
    }
#end
#if(${generateDelete} && ${table.idField})

    #if(${springDoc})
    @Operation(summary = "删除")
    #elseif(${swagger})
    @ApiOperation(value = "删除")
    #else
    /**
     * 根据id删除
     *
     * @param id 主键id
     * @return 是否成功
     */
    #end
    #if(${restful})
    @DeleteMapping("$!{idPathParam}")
    #else
    @PostMapping("/delete$!{idPathParam}")
    #end
    #if(!${restController})
    @ResponseBody
    #end
    public ${returnType.toTypeString("Boolean")} ${deleteMethodName}($!{idMethodParam}${primaryKeyPropertyType} id) {
        return ${returnType.toInvokeString("baseService.${deleteMethodName}(id)")};
    }
#end
#if(${generateQueryById} && ${table.idField})

    #if(${springDoc})
    @Operation(summary = "根据id查询详情")
    #elseif(${swagger})
    @ApiOperation(value = "根据id查询详情")
    #else
    /**
     * 根据id查询详情
     *
     * @param id 主键id
     * @return 查询结果
     */
    #end
    #if(${restful})
    @GetMapping("$!{idPathParam}")
    #else
    @GetMapping("/detail$!{idPathParam}")
    #end
    #if(!${restController})
    @ResponseBody
    #end
    public ${returnType.toTypeString(${queryResult})} ${queryByIdMethodName}($!{idMethodParam}${primaryKeyPropertyType} id) {
        return ${returnType.toInvokeString("baseService.${queryByIdMethodName}(id)")};
    }
#end
#if(${generateQueryList})

    #if(${springDoc})
    @Operation(summary = "列表查询")
    #elseif(${swagger})
    @ApiOperation(value = "列表查询")
    #else
    /**
     * 列表查询
     *
     * @param dto 查询条件
     * @return 查询结果
     */
    #end
    ${queryRequestMapping}("/list")
    #if(!${restController})
    @ResponseBody
    #end
    public ${returnType.toTypeString("List<${queryResult.classSimpleName}>")} ${queryListMethodName}($!{queryBodyStr}${queryParam.classSimpleName} dto) {
        #if($sqlBooster)
        return ${returnType.toInvokeString("baseService.${sqlBoosterLambdaMethodName}().${sqlBoosterFromBeanMethodName}(dto).list()")};    
        #else
        return ${returnType.toInvokeString("baseService.${queryListMethodName}(dto)")};
        #end
    }
#end
#if(${generateQueryPage})

    #if(${springDoc})
    @Operation(summary = "分页查询")
    #elseif(${swagger})
    @ApiOperation(value = "分页查询")
    #else
    /**
     * 分页查询
     *
     * @param dto 查询条件          
     * @return 查询结果
     */
    #end
    ${queryRequestMapping}("/page")
    #if(!${restController})
    @ResponseBody
    #end
    public ${returnType.toTypeString(${pageType.toTypeString(${queryResult.classSimpleName})})} ${queryPageMethodName}($!{queryBodyStr}${queryParam.classSimpleName} dto) {
        #if($sqlBooster)
        return ${returnType.toInvokeString(${pageType.toInvokeString("baseService.${sqlBoosterLambdaMethodName}().${sqlBoosterFromBeanMethodName}(dto).page(dto.get${pageCapitalName}(), dto.get${sizeCapitalName}())")})};
        #else
        return ${returnType.toInvokeString(${pageType.toInvokeString("baseService.${queryPageMethodName}(dto, dto.get${pageCapitalName}(), dto.get${sizeCapitalName}())")})};
        #end
    }
#end
#if(${generateExcelImport})

    #if(${springDoc})
    @Operation(summary = "下载excel导入模板")
    #elseif(${swagger})
    @ApiOperation(value = "下载excel导入模板")
    #else
    /**
     * 下载excel导入模板
     */
    #end
    @GetMapping("/excel/template")
    public void ${excelImportTemplateMethodName}(HttpServletResponse response) throws IOException {
        response.setContentType("application/octet-stream");
##        response.setHeader("Access-Control-Expose-Headers", "Content-Disposition");
        response.setHeader("Content-Disposition", "attachment;filename=" + System.currentTimeMillis() + ".xlsx");
        baseService.${excelImportTemplateMethodName}(response.getOutputStream());
    }

    #if(${springDoc})
    @Operation(summary = "excel文件导入")
    #elseif(${swagger})
    @ApiOperation(value = "excel文件导入")
    #else
    /**
     * excel文件导入
     *
     * @param excel excel文件
     * @return 导入条数
     */
    #end
    @PostMapping("/excel/import")
    #if(!${restController})
    @ResponseBody
    #end
    public ${returnType.toTypeString("Integer")} ${excelImportMethodName}(@RequestParam("excel") MultipartFile excel) throws IOException {
        if (excel == null || excel.isEmpty()) return ${returnType.toInvokeString(0)};
        return ${returnType.toInvokeString("baseService.${excelImportMethodName}(excel.getInputStream())")};
    }
#end
#if(${generateExcelExport})

    #if(${springDoc})
    @Operation(summary = "excel文件导出")
    #elseif(${swagger})
    @ApiOperation(value = "excel文件导出")
    #else
    /**
     * excel文件导出
     * 
     * @param dto 查询条件
     */
    #end
    ${queryRequestMapping}("/excel/export")
    public void ${excelExportMethodName}($!{queryBodyStr}${queryParam.classSimpleName} dto, HttpServletResponse response) throws IOException {
        response.setContentType("application/octet-stream");
##        response.setHeader("Access-Control-Expose-Headers", "Content-Disposition");
        response.setHeader("Content-Disposition", "attachment;filename=" + System.currentTimeMillis() + ".xlsx");
        baseService.${excelExportMethodName}(dto, response.getOutputStream());
    }
#end
}