package ${mapper.packageName};
#if($mapperFramePkg.size()>0)

#end
#foreach($pkg in ${mapperFramePkg})
import ${pkg};
#end
#if($mapperJavaPkg.size()>0)

#end
#foreach($pkg in ${mapperJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-Mapper
 *
 * @author ${author}
#if(${date})
 * @since ${date}    
#end
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass}
#end
public interface ${mapper.classSimpleName} extends ${mapperSuperClass}<${entity.classSimpleName}#if(${sqlBooster}), ${queryResult.classSimpleName}#end> {
#if(!${sqlBooster})
    #if(${generateQueryById} || ${generateQueryList} || ${generateQueryPage} || ${generateExcelExport})

    List<${queryResult}> selectByXml(${queryParam.classSimpleName} param, IPage<${queryResult}> page);
    #end
#end
}
