package ${package.queryResult};
#if($queryResultFramePkg.size()>0)

#end
#foreach($pkg in ${queryResultFramePkg})
import ${pkg};
#end
#if($queryResultJavaPkg.size()>0)

#end
#foreach($pkg in ${queryResultJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-查询返回对象
 *
 * @author ${docAuthor}
#if(${docLink})
 * @see ${class.entity}
 * @see ${class.mapper}
 * @see ${class.serviceImpl}
#end
#if(${docDate})
 * @since ${docDate}    
#end
 */
#if(${enableLombok})
@Getter
@Setter
#end
#if(${enableLombok} && ${enableChainSetter})
@Accessors(chain = true)
#end
#if(${enableLombok} && ${enableToString})
@ToString
#end
#if(${enableOpenApi3})
@Schema(description = "$!{table.comment}-VO")
#elseif(${enableOpenApi2})
@ApiModel(description = "$!{table.comment}-VO")
#end
public class ${queryResult} #if(${queryResultSuperClass})extends ${queryResultSuperClass}#end#if(${enableSerializableUID}) implements Serializable#end {
#if(${enableSerializableUID})

    #if(${enableSerializableAnnotation})
    @Serial
    #end
    private static final long serialVersionUID = 1L;
#end
## ----------  BEGIN 字段循环遍历  ----------
#if(!${queryResultExtendsEntity})
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#else

    #if("$!field.comment" != "")
        #if(${enableOpenApi3})
    @Schema(description = "${field.comment}")
        #elseif(${enableOpenApi2})
    @ApiModelProperty("${field.comment}")
        #else
    /**
     * ${field.comment}
     */
        #end
    #end
    private ${field.propertyType} ${field.propertyName};
#end
#end
#end
## ----------  END 字段循环遍历  ----------
#if(!${enableLombok} && !${queryResultExtendsEntity})
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#else
    #if(${field.propertyType.equals("boolean")})
        #set($getprefix="is")
    #else
        #set($getprefix="get")
    #end

    public ${field.propertyType} ${getprefix}${field.capitalName}() {
        return ${field.propertyName};
    }

    #if(${enableChainSetter})
    public ${queryResult} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #else
    public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #end
        this.${field.propertyName} = ${field.propertyName};
     #if(${enableChainSetter})
        return this;
    #end
    }
#end
#end
#end
#if(!${enableLombok} && ${enableToString})

    @Override
    public String toString() {
        return "${queryResult.classSimpleName}{" +
    #foreach($field in ${table.fields})
        #if(${field.logicDeleteField})
        #else
            #if($!{foreach.index}==0)
        "${field.propertyName} = " + ${field.propertyName} +
            #else
        ", ${field.propertyName} = " + ${field.propertyName} +
            #end
        #end
    #end
        "}";
    }
#end
}
