package ${serviceImpl.packageName};
#if($serviceImplFramePkg.size()>0)

#end
#foreach($pkg in ${serviceImplFramePkg})
import ${pkg};
#end
#if($serviceImplJavaPkg.size()>0)

#end
#foreach($pkg in ${serviceImplJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-服务实现类
 *
 * @author ${author}
#if(${date})
 * @since ${date}    
#end
 */
@Service
#if(${service.generate})
public class ${serviceImpl.classSimpleName} extends ${serviceImplSuperClass}<${mapper.classSimpleName}, ${entity.classSimpleName}#if(${sqlBooster}), ${queryResult.classSimpleName}#end> implements ${service.classSimpleName} {
#else
public class ${serviceImpl.classSimpleName} extends ${serviceImplSuperClass}<${mapper.classSimpleName}, ${entity.classSimpleName}#if(${sqlBooster}), ${queryResult.classSimpleName}#end> {
#end
#if(${generateCreate})

    #if(${service.generate})
    @Override
    #end
    #if(${table.idField})
    public ${table.idField.propertyType} ${createMethodName}(${createParam.classSimpleName} param) {
    #else
    public boolean ${createMethodName}(${createParam.classSimpleName} param) {
    #end
        ${entity.classSimpleName} entity = new ${entity.classSimpleName}();
        BeanUtils.copyProperties(param, entity);
        boolean saved = super.save(entity);
        #if(${table.idField})
        return entity.get${table.idField.capitalName}();
        #else
        return saved;
        #end
    }
#end
#if(${generateUpdate} && ${table.idField})

    #if(${service.generate})
    @Override
    #end
    public boolean ${updateMethodName}(${updateParam.classSimpleName} param) {
        ${entity.classSimpleName} entity = new ${entity.classSimpleName}();
        BeanUtils.copyProperties(param, entity);
        return super.updateById(entity);
    }
#end
#if(${generateDelete} && ${table.idField})

    @Override
    public boolean ${deleteMethodName}(${table.idField.propertyType} id) {
        return super.removeById(id);
    }
#end
#if(${generateQueryById} && ${table.idField} && !${sqlBooster})

    #if(${service.generate})
    @Override
    #end
    public ${queryResult} ${queryByIdMethodName}(${table.idField.propertyType} id) {
        ${queryParam.classSimpleName} param = new ${queryParam.classSimpleName}();
        param.set${table.idField.capitalName}(id);
        ${queryResult} one = getBaseMapper().selectByXml(param, null)
                .stream()
                .findFirst()
                .orElse(null);
        return one;
    }
#end
#if(${generateQueryList} && !${sqlBooster})

    #if(${service.generate})
    @Override
    #end
    public List<${queryResult}> ${queryListMethodName}(${queryParam.classSimpleName} dto) {
        List<${queryResult}> list = getBaseMapper().selectByXml(dto, null);
        return list;
    }
#end
#if(${generateQueryPage} && !${sqlBooster})

    #if(${service.generate})
    @Override
    #end
    public ${pageDataType.classCanonicalName}<${queryResult}> ${queryPageMethodName}(${queryParam.classSimpleName} param, long current, long size) {
        Page<${queryResult}> page = new Page<>(current, size);
        List<${queryResult}> list = getBaseMapper().selectByXml(param, page);
        page.setRecords(list);
        return page;
    }
#end
#if(${generateExcelImport})

    #if(${service.generate})
    @Override
    #end
    public void ${excelImportTemplateMethodName}(OutputStream os) {
        ${excelApiClass}.write(os, ${excelImportParam.classSimpleName}.class)
            .sheet()
            .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
            .doWrite(Collections.emptyList());
    }

    #if(${service.generate})
    @Override
    #end
    public int ${excelImportMethodName}(InputStream is) {
        List<${excelImportParam.classSimpleName}> dataList = ${excelApiClass}.read(is)
            .head(${excelImportParam.classSimpleName}.class).sheet().doReadSync();
        List<${entity.classSimpleName}> entityList = dataList.stream().map(importDto -> {
            ${entity.classSimpleName} entity = new ${entity.classSimpleName}();
            BeanUtils.copyProperties(importDto, entity);
            return entity;
        }).collect(Collectors.toList());
        super.saveBatch(entityList);
        return entityList.size();
    }
#end
#if(${generateExcelExport})

    #if(${service.generate})
    @Override
    #end
    public void ${excelExportMethodName}(${queryParam.classSimpleName} param, OutputStream os) {
        #if(${sqlBooster})
        List<${queryResult}> records = ${sqlBoosterLambdaMethodName}().${sqlBoosterFromBeanMethodName}(param).list();
        #else
        List<${queryResult}> records = getBaseMapper().selectByXml(param, null);
        #end
        ${excelApiClass}.write(os, ${excelExportParam.classSimpleName}.class)
                .sheet()
                .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
                .doWrite(records);
    }
#end
}
