package ${service.packageName};
#if($serviceFramePkg.size()>0)

#end
#foreach($pkg in ${serviceFramePkg})
import ${pkg};
#end
#if($serviceJavaPkg.size()>0)

#end
#foreach($pkg in ${serviceJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-服务类
 *
 * @author ${author}
#if(${date})
 * @since ${date}    
#end
 */
public interface ${service.classSimpleName} extends ${serviceSuperClass}<${entity.classSimpleName}#if(${sqlBooster}), ${queryResult.classSimpleName}#end> {
#if(${generateCreate})

    #if(${table.idField})
    ${table.idField.propertyType} ${createMethodName}(${createParam.classSimpleName} param);
    #else
    Boolean ${createMethodName}(${createParam.classSimpleName} param);
    #end
#end
#if(${generateUpdate} && ${table.idField})

    boolean ${updateMethodName}(${updateParam.classSimpleName} param);
#end
#if(${generateDelete} && ${table.idField})

    boolean ${deleteMethodName}(${table.idField.propertyType} id);
#end
#if(${generateQueryById} && ${table.idField} && !${sqlBooster})

    ${queryResult} ${queryByIdMethodName}(${table.idField.propertyType} id);
#end
#if(${generateQueryList} && !${sqlBooster})

    List<${queryResult}> ${queryListMethodName}(${queryParam.classSimpleName} param);
#end
#if(${generateQueryPage} && !${sqlBooster})

    ${pageDataType.classCanonicalName}<${queryResult}> ${queryPageMethodName}(${queryParam.classSimpleName} param, long current, long size);
#end
#if(${generateExcelImport})

    void ${excelImportTemplateMethodName}(OutputStream os);

    int ${excelImportMethodName}(InputStream is);
#end
#if(${generateExcelExport})

    void ${excelExportMethodName}(${queryParam.classSimpleName} param, OutputStream os);
#end
}
