package ${serviceImpl.packageName};
#if($serviceImplFramePkg.size()>0)

#end
#foreach($pkg in ${serviceImplFramePkg})
import ${pkg};
#end
#if($serviceImplJavaPkg.size()>0)

#end
#foreach($pkg in ${serviceImplJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-服务实现类
 *
 * @author ${author}
#if(${date})
 * @since ${date}    
#end
 */
@Service
#if(${service.generate})
#if(${mapperInjection})
public class ${serviceImpl.classSimpleName} implements ${service.classSimpleName} {
#else
public class ${serviceImpl.classSimpleName} extends ${serviceImplSuperClass}<${mapper.classSimpleName}, ${entity.classSimpleName}#if(${sqlBoosterPublicApi}), ${queryResult.classSimpleName}#end> implements ${service.classSimpleName} {
#end
#else
#if(${mapperInjection})
public class ${serviceImpl.classSimpleName} {
#else
public class ${serviceImpl.classSimpleName} extends ${serviceImplSuperClass}<${mapper.classSimpleName}, ${entity.classSimpleName}#if(${sqlBoosterPublicApi}), ${queryResult.classSimpleName}#end> {
#end
#end
#if(${mapperInjection})

    private final ${mapper.classSimpleName} baseMapper;

    public ${serviceImpl.classSimpleName}(${mapper.classSimpleName} baseMapper) {
        this.baseMapper = baseMapper;
    }
#end
#if(${generateCreate})

    #if(${service.generate})
    @Override
    #end
    #if(${table.idField})
    public ${table.idField.propertyType} ${createMethodName}(${createParam.classSimpleName} param) {
    #else
    public boolean ${createMethodName}(${createParam.classSimpleName} param) {
    #end
        ${entity.classSimpleName} entity = new ${entity.classSimpleName}();
        BeanUtils.copyProperties(param, entity);
        #if(${mapperInjection})
        int saved = baseMapper.insert(entity);
        #else
        boolean saved = super.save(entity);
        #end
        #if(${table.idField})
        return entity.get${table.idField.capitalName}();
        #else
        #if(${stateless})
        return saved > 0;
        #else
        return saved;
        #end
        #end
    }
#end
#if(${generateUpdate} && ${table.idField})

    #if(${service.generate})
    @Override
    #end
    public boolean ${updateMethodName}(${updateParam.classSimpleName} param) {
        ${entity.classSimpleName} entity = new ${entity.classSimpleName}();
        BeanUtils.copyProperties(param, entity);
        #if(${mapperInjection})
        return baseMapper.updateById(entity) > 0;
        #else
        return super.updateById(entity);
        #end
    }
#end
#if(${generateDelete} && ${table.idField})

    @Override
    public boolean ${deleteMethodName}(${table.idField.propertyType} id) {
        #if(${mapperInjection})
        return baseMapper.deleteById(id) > 0;
        #else
        return super.removeById(id);
        #end
    }
#end
#if(${sqlBoosterPublicApi} && ${plainMybatisRuntime})

    #if(${table.idField})
    @Override
    public ${queryResult} ${queryByIdMethodName}(java.io.Serializable id) {
        SqlContext<${entity.classSimpleName}> sqlContext = SqlBuilder.of(${entity.classSimpleName}.class)
                .fromMap(Collections.singletonMap("${table.idField.propertyName}", id))
                .toSqlContext();
        return baseMapper.doFetch(sqlContext, null).stream().findFirst().orElse(null);
    }
    #end

    @Override
    public List<${queryResult}> ${queryListMethodName}(SqlContext<${entity.classSimpleName}> sqlContext) {
        return baseMapper.doFetch(sqlContext, null);
    }

    @Override
    public BPage<${queryResult}> ${queryPageMethodName}(SqlContext<${entity.classSimpleName}> sqlContext, long current, long size) {
        return baseMapper.voPage(sqlContext, current, size);
    }
#end
#if(${generateQueryById} && ${table.idField} && !${sqlBoosterPublicApi})

    #if(${service.generate})
    @Override
    #end
    public ${queryResult} ${queryByIdMethodName}(${table.idField.propertyType} id) {
        ${queryParam.classSimpleName} param = new ${queryParam.classSimpleName}();
        param.set${table.idField.capitalName}(id);
        #if(${queryViaSqlContext})
        SqlContext<${entity.classSimpleName}> sqlContext = SqlBuilder.of(${entity.classSimpleName}.class).fromBean(param).toSqlContext();
        #end
        #if(${mapperInjection})
            #if(${queryViaSqlContext})
                #if(${pageHelperRuntime})
        ${queryResult} one = baseMapper.selectByXml(sqlContext)
                #else
        ${queryResult} one = baseMapper.selectByXml(sqlContext, null)
                #end
            #else
                #if(${pageHelperRuntime})
        ${queryResult} one = baseMapper.selectByXml(param)
                #else
        ${queryResult} one = baseMapper.selectByXml(param, null)
                #end
            #end
        #else
            #if(${queryViaSqlContext})
        ${queryResult} one = getBaseMapper().selectByXml(sqlContext, null)
            #else
        ${queryResult} one = getBaseMapper().selectByXml(param, null)
            #end
        #end
                .stream()
                .findFirst()
                .orElse(null);
        return one;
    }
#end
#if(${generateQueryList} && !${sqlBoosterPublicApi})

    #if(${service.generate})
    @Override
    #end
    public List<${queryResult}> ${queryListMethodName}(${queryParam.classSimpleName} dto) {
        #if(${queryViaSqlContext})
        SqlContext<${entity.classSimpleName}> sqlContext = SqlBuilder.of(${entity.classSimpleName}.class).fromBean(dto).toSqlContext();
        #end
        #if(${mapperInjection})
            #if(${queryViaSqlContext})
                #if(${pageHelperRuntime})
        List<${queryResult}> list = baseMapper.selectByXml(sqlContext);
                #else
        List<${queryResult}> list = baseMapper.selectByXml(sqlContext, null);
                #end
            #else
                #if(${pageHelperRuntime})
        List<${queryResult}> list = baseMapper.selectByXml(dto);
                #else
        List<${queryResult}> list = baseMapper.selectByXml(dto, null);
                #end
            #end
        #else
            #if(${queryViaSqlContext})
        List<${queryResult}> list = getBaseMapper().selectByXml(sqlContext, null);
            #else
        List<${queryResult}> list = getBaseMapper().selectByXml(dto, null);
            #end
        #end
        return list;
    }
#end
#if(${generateQueryPage} && !${sqlBoosterPublicApi})

    #if(${service.generate})
    @Override
    #end
    public #if(${mybatisPlusRuntime} || ${pageHelperRuntime})${servicePageType}<${queryResult}>#else List<${queryResult}>#end ${queryPageMethodName}(${queryParam.classSimpleName} param, long current, long size) {
        #if(${queryViaSqlContext})
        SqlContext<${entity.classSimpleName}> sqlContext = SqlBuilder.of(${entity.classSimpleName}.class).fromBean(param).toSqlContext();
        #end
        #if(${mybatisPlusRuntime})
        Page<${queryResult}> page = new Page<>(current, size);
        #if(${mapperInjection})
            #if(${queryViaSqlContext})
        List<${queryResult}> list = baseMapper.selectByXml(sqlContext, page);
            #else
        List<${queryResult}> list = baseMapper.selectByXml(param, page);
            #end
        #else
            #if(${queryViaSqlContext})
        List<${queryResult}> list = getBaseMapper().selectByXml(sqlContext, page);
            #else
        List<${queryResult}> list = getBaseMapper().selectByXml(param, page);
            #end
        #end
        page.setRecords(list);
        return page;
        #elseif(${pageHelperRuntime})
        PageHelper.startPage((int) current, (int) size);
            #if(${queryViaSqlContext})
        List<${queryResult}> list = baseMapper.selectByXml(sqlContext);
            #else
        List<${queryResult}> list = baseMapper.selectByXml(param);
            #end
        return new PageInfo<>(list);
        #else
        RowBounds rowBounds = new RowBounds((int) ((current - 1) * size), (int) size);
            #if(${queryViaSqlContext})
        return baseMapper.selectByXml(sqlContext, rowBounds);
            #else
        return baseMapper.selectByXml(param, rowBounds);
            #end
        #end
    }
#end
#if(${generateExcelImport})

    #if(${service.generate})
    @Override
    #end
    public void ${excelImportTemplateMethodName}(OutputStream os) {
        ${excelApiClass}.write(os, ${excelImportParam.classSimpleName}.class)
            .sheet()
            .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
            .doWrite(Collections.emptyList());
    }

    #if(${service.generate})
    @Override
    #end
    public int ${excelImportMethodName}(InputStream is) {
        #if(${excelImportBatchMode})
        AtomicInteger importCount = new AtomicInteger();
        List<${entity.classSimpleName}> entityList = new ArrayList<>(${excelImportBatchSize});
        ${excelApiClass}.read(is, ${excelImportParam.classSimpleName}.class, new AnalysisEventListener<${excelImportParam.classSimpleName}>() {
            @Override
            public void invoke(${excelImportParam.classSimpleName} importDto, AnalysisContext context) {
                ${entity.classSimpleName} entity = new ${entity.classSimpleName}();
                BeanUtils.copyProperties(importDto, entity);
                entityList.add(entity);
                if (entityList.size() >= ${excelImportBatchSize}) {
                    importCount.addAndGet(flushExcelImportBatch(entityList));
                }
            }

            @Override
            public void doAfterAllAnalysed(AnalysisContext context) {
                importCount.addAndGet(flushExcelImportBatch(entityList));
            }
        }).sheet().doRead();
        return importCount.get();
        #else
        List<${excelImportParam.classSimpleName}> dataList = ${excelApiClass}.read(is)
            .head(${excelImportParam.classSimpleName}.class).sheet().doReadSync();
        List<${entity.classSimpleName}> entityList = dataList.stream().map(importDto -> {
            ${entity.classSimpleName} entity = new ${entity.classSimpleName}();
            BeanUtils.copyProperties(importDto, entity);
            return entity;
        }).collect(Collectors.toList());
        #if(${mapperInjection})
        for (${entity.classSimpleName} entity : entityList) {
            baseMapper.insert(entity);
        }
        #else
        super.saveBatch(entityList);
        #end
        return entityList.size();
        #end
    }

    #if(${excelImportBatchMode})
    private int flushExcelImportBatch(List<${entity.classSimpleName}> entityList) {
        if (entityList.isEmpty()) {
            return 0;
        }
        #if(${mapperInjection})
        for (${entity.classSimpleName} entity : entityList) {
            baseMapper.insert(entity);
        }
        #else
        super.saveBatch(entityList);
        #end
        int savedCount = entityList.size();
        entityList.clear();
        return savedCount;
    }
    #end
#end
#if(${generateExcelExport})

    #if(${service.generate})
    @Override
    #end
    public void ${excelExportMethodName}(${queryParam.classSimpleName} param, OutputStream os) {
        #if(${excelExportPagedMode})
        try (ExcelWriter excelWriter = ${excelApiClass}.write(os, ${excelExportParam.classSimpleName}.class).build()) {
            WriteSheet writeSheet = ${excelApiClass}.writerSheet()
                    .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
                    .build();
            long current = 1L;
            while (true) {
                List<${queryResult}> records = queryExcelExportPage(param, current, ${excelExportPageSize}L);
                if (records == null || records.isEmpty()) {
                    break;
                }
                excelWriter.write(records, writeSheet);
                if (records.size() < ${excelExportPageSize}) {
                    break;
                }
                current++;
            }
        }
        #else
        #if(${sqlBoosterPublicApi})
        List<${queryResult}> records = ${sqlBoosterLambdaMethodName}().${sqlBoosterFromBeanMethodName}(param).list();
        #else
            #if(${queryViaSqlContext})
        SqlContext<${entity.classSimpleName}> sqlContext = SqlBuilder.of(${entity.classSimpleName}.class).fromBean(param).toSqlContext();
            #end
        #if(${mapperInjection})
            #if(${queryViaSqlContext})
                #if(${pageHelperRuntime})
        List<${queryResult}> records = baseMapper.selectByXml(sqlContext);
                #else
        List<${queryResult}> records = baseMapper.selectByXml(sqlContext, null);
                #end
            #else
                #if(${pageHelperRuntime})
        List<${queryResult}> records = baseMapper.selectByXml(param);
                #else
        List<${queryResult}> records = baseMapper.selectByXml(param, null);
                #end
            #end
        #else
            #if(${queryViaSqlContext})
        List<${queryResult}> records = getBaseMapper().selectByXml(sqlContext, null);
            #else
        List<${queryResult}> records = getBaseMapper().selectByXml(param, null);
            #end
        #end
        #end
        ${excelApiClass}.write(os, ${excelExportParam.classSimpleName}.class)
                .sheet()
                .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
                .doWrite(records);
        #end
    }

    #if(${excelExportPagedMode})
    private List<${queryResult}> queryExcelExportPage(${queryParam.classSimpleName} param, long current, long size) {
        #if(${sqlBoosterPublicApi})
        return ${sqlBoosterLambdaMethodName}().${sqlBoosterFromBeanMethodName}(param).page(current, size).getRecords();
        #else
            #if(${queryViaSqlContext})
        SqlContext<${entity.classSimpleName}> sqlContext = SqlBuilder.of(${entity.classSimpleName}.class).fromBean(param).toSqlContext();
            #end
            #if(${mybatisPlusRuntime})
        Page<${queryResult}> page = new Page<>(current, size);
                #if(${mapperInjection})
                    #if(${queryViaSqlContext})
        return baseMapper.selectByXml(sqlContext, page);
                    #else
        return baseMapper.selectByXml(param, page);
                    #end
                #else
                    #if(${queryViaSqlContext})
        return getBaseMapper().selectByXml(sqlContext, page);
                    #else
        return getBaseMapper().selectByXml(param, page);
                    #end
                #end
            #elseif(${pageHelperRuntime})
        PageHelper.startPage((int) current, (int) size);
                #if(${queryViaSqlContext})
        List<${queryResult}> list = baseMapper.selectByXml(sqlContext);
                #else
        List<${queryResult}> list = baseMapper.selectByXml(param);
                #end
        PageInfo<${queryResult}> page = new PageInfo<>(list);
        return page.getRecords();
            #else
        RowBounds rowBounds = new RowBounds((int) ((current - 1) * size), (int) size);
                #if(${queryViaSqlContext})
        return baseMapper.selectByXml(sqlContext, rowBounds);
                #else
        return baseMapper.selectByXml(param, rowBounds);
                #end
            #end
        #end
    }
    #end
#end
}
