package ${updateParam.packageName};
#if($updateParamFramePkg.size()>0)

#end
#foreach($pkg in ${updateParamFramePkg})
import ${pkg};
#end
#if($updateParamJavaPkg.size()>0)

#end
#foreach($pkg in ${updateParamJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-修改入参对象
 *
 * @author ${docAuthor}
#if(${docLink})
 * @see ${entity.classCanonicalName}
 * @see ${serviceImpl.classCanonicalName}
#end
#if(${docDate})
 * @since ${docDate}    
#end
 */
#if(${lombok})
@Getter
@Setter
#end
#if(${lombok} && ${chainSetter})
@Accessors(chain = true)
#end
#if(${lombok} && ${toString})
@ToString
#end
#if(${springDoc})
@Schema(description = "$!{table.comment}-修改入参对象")
#elseif(${swagger})
@ApiModel(description = "$!{table.comment}-修改入参对象")
#end
public class ${updateParam.classSimpleName}#if(${serializable}) implements Serializable#end {
#if(${serializable})

    #if(${serializableAnnotation})
    @Serial
    #end
    private static final long serialVersionUID = 1L;
#end
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.fill} && (${field.fill}=="UPDATE" || ${field.fill}=="INSERT_UPDATE" || ${field.fill}=="INSERT"))
#elseif(${field.logicDeleteField})
#elseif(${commandExcludeColumns.contains(${field.columnName})})
#else

    #if("$!field.comment" != "")
        #if(${springDoc})
    @Schema(description = "${field.comment}")
        #elseif(${swagger})
    @ApiModelProperty("${field.comment}")
        #else
    /**
     * ${field.comment}
     */
        #end
    #end
    #if(${valid})## 参数校验
        #if(${field.keyFlag})## 主键
    @NotNull(message = "${field.comment}为必填项")
            #if(${field.propertyType}=="String")
    @NotBlank(message = "${field.comment}为必填项")
            #end
        #end
        #if(${field.versionField})## 乐观锁注解
    @NotNull(message = "${field.comment}为必填项")
            #if(${field.propertyType}=="String")
    @NotBlank(message = "${field.comment}为必填项")
            #end
        #end
        #if(${field.propertyType} == "String")## 字符串长度限制
    @Size(message = "${field.comment}长度不能超过${field.metaInfo.length}", max = ${field.metaInfo.length})
        #end
    #end
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------
#if(!${lombok})
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#elseif(${field.fill} && (${field.fill}=="UPDATE" || ${field.fill}=="INSERT_UPDATE" || ${field.fill}=="INSERT"))
#elseif(${commandExcludeColumns.contains(${field.columnName})})
#else
    #if(${field.propertyType.equals("boolean")})
        #set($getprefix="is")
    #else
        #set($getprefix="get")
    #end

    public ${field.propertyType} ${getprefix}${field.capitalName}() {
        return ${field.propertyName};
    }

    #if(${chainSetter})
    public ${updateParam.classSimpleName} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #else
    public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #end
        this.${field.propertyName} = ${field.propertyName};
    #if(${chainSetter})
        return this;
    #end
    }
#end
#end
#end
#if(!${lombok} && ${toString})

    @Override
    public String toString() {
        return "${updateParam.classSimpleName}{" +
    #foreach($field in ${table.fields})
        #if(${field.logicDeleteField})
        #elseif(${field.fill} && (${field.fill}=="UPDATE" || ${field.fill}=="INSERT_UPDATE" || ${field.fill}=="INSERT"))
        #elseif(${commandExcludeColumns.contains(${field.columnName})})
        #else
            #if($!{foreach.index}==0)
        "${field.propertyName} = " + ${field.propertyName} +
            #else
        ", ${field.propertyName} = " + ${field.propertyName} +
            #end
        #end
    #end
        "}";
    }
#end
}
