package ${package.service};
#if($serviceFrameworkPkg.size()>0)

#end
#foreach($pkg in ${serviceFrameworkPkg})
import ${pkg};
#end
#if($serviceJavaPkg.size()>0)

#end
#foreach($pkg in ${serviceJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${service} extends ${serviceSuperClass}<${entity}, ${queryVO}> {
    #if(${generateQuery})

    @Override
    ${queryVO} voById(Serializable id);

    @Override
    List<${queryVO}> voList(Wrapper<${entity}> wrapper);

    @Override
    BoosterPage<${queryVO}> voPage(Wrapper<${entity}> wrapper, long current, long size);
    #end
    #if(${generateCreate})

    Serializable createByDTO(${createDTO} createDTO);
    #end
    #if(${generateUpdate})

    boolean updateByDTO(${updateDTO} updateDTO);
    #end
    #if(${generateDelete})
    
    @Override
    boolean removeById(Serializable id);
    #end
    #if(${generateImport})

    void excelTemplate(OutputStream os);

    int excelImport(InputStream is);
    #end
    #if(${generateExport})

    void excelExport(Wrapper<${entity}> wrapper, OutputStream os);
    #end
}

