package ${package.serviceImpl};
#if($serviceImplFrameworkPkg.size()>0)

#end
#foreach($pkg in ${serviceImplFrameworkPkg})
import ${pkg};
#end
#if($serviceImplJavaPkg.size()>0)

#end
#foreach($pkg in ${serviceImplJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${generate.service})
public class ${serviceImpl} extends ${serviceImplSuperClass}<${mapper}, ${entity}, ${queryVO}> implements ${service} {
#else
public class ${serviceImpl} extends ${serviceImplSuperClass}<${mapper}, ${entity}, ${queryVO}> {
#end
#if(${generateCreate})

    #if(${generate.service})
    @Override
    #end
    public Serializable createByDTO(${createDTO} createDTO) {
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(createDTO, entity);
        super.save(entity);
        #if(${table.primaryKeyField})
        return entity.get${table.primaryKeyField.capitalName}();
        #else
        return null;
        #end
    }
#end
#if(${generateUpdate})

    #if(${generate.service})
    @Override
    #end
    public boolean updateByDTO(${updateDTO} updateDTO) {
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(updateDTO, entity);
        return super.updateById(entity);
    }
#end
#if(${generateDelete} && ${table.havePrimaryKey})

    @Override
    public boolean removeById(Serializable id) {
        #if(${table.primaryKeyField})
        return super.removeById(id);
        #else
        throw new IllegalStateException("can't find id property");
        #end
    }
#end
#if(${generateVoById} && ${table.havePrimaryKey})

    @Override
    public ${queryVO} voById(Serializable id) { 
        return super.voById(id);
    }
#end
#if(${generateVoList})

    @Override
    public List<${queryVO}> voList(SqlContext<${entity}> sqlContext) {
        return super.voList(sqlContext);
    }
#end
#if(${generateVoPage})

    @Override
    public BPage<${queryVO}> voPage(SqlContext<${entity}> sqlContext, long current, long size) {
        return super.voPage(sqlContext, current, size);
    }
#end
#if(${generateImport})

    #if(${generate.service})
    @Override
    #end
    public void excelTemplate(OutputStream os) {
        ${excelApiClass}.write(os, ${excelImportDTO}.class).sheet()
            .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
            .doWrite(Collections.emptyList());
    }

    #if(${generate.service})
    @Override
    #end
    public int excelImport(InputStream is) {
        List<${excelImportDTO}> dataList = ${excelApiClass}.read(is).head(${excelImportDTO}.class).sheet().doReadSync();
        List<${entity}> entityList = dataList.stream().map(excelImportDTO -> {
            ${entity} entity = new ${entity}();
            BeanUtils.copyProperties(excelImportDTO, entity);
            return entity;
        }).collect(Collectors.toList());
        super.saveBatch(entityList);
        return entityList.size();
    }
#end
#if(${generateExport})

    #if(${generate.service})
    @Override
    #end
    public void excelExport(SqlContext<${entity}> sqlContext, OutputStream os) {
        ${excelApiClass}.write(os, ${excelExportVO}.class).sheet()
            .registerWriteHandler(new LongestMatchColumnWidthStyleStrategy())
            .doWrite(this.voList(sqlContext));
    }
#end
}
