package ${package.mapper};
#if($mapperImportPackages4Framework.size()>0)

#end
#foreach($pkg in ${mapperImportPackages4Framework})
import ${pkg};
#end
#if($mapperImportPackages4Java.size()>0)

#end
#foreach($pkg in ${mapperImportPackages4Java})
import ${pkg};
#end

/**
 * $!{table.comment} Mapper接口
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClassSimpleName}
#end
public interface ${mapper} extends ${mapperSuperClassSimpleName}<${entity}> {
#if(${generateQuery})
    
    List<${queryVO}> selectByXml(${queryDTO} queryDTO, IPage<${queryVO}> page);
#end
}
