package ${package.service};
#if($serviceImportPackages4Framework.size()>0)

#end
#foreach($pkg in ${serviceImportPackages4Framework})
import ${pkg};
#end
#if($serviceImportPackages4Java.size()>0)

#end
#foreach($pkg in ${serviceImportPackages4Java})
import ${pkg};
#end

/**
 * $!{table.comment} 服务类
 *
 * @author ${docAuthor}
 * @since ${docDate}
 */
public interface ${service} extends ${serviceSuperClassSimpleName}<${entity}> {

    #if(${generateInsert})

    Serializable insertByDTO(${insertDTO} insertDTO);
    #end
    #if(${generateUpdate})

    boolean updateByDTO(${updateDTO} updateDTO);
    #end
    #if(${generateDelete})
    
    @Override
    boolean removeById(Serializable id);
    #end
    #if(${generateQuery})

    ${queryVO} voById(Serializable id);

    List<${queryVO}> voList(${queryDTO} queryDTO);

    IPage<${queryVO}> voPage(${queryDTO} queryDTO, Long current, Long size);
    #end
    #if(${generateImport})

    void excelTemplate(OutputStream os);

    int excelImport(InputStream is);
    #end
    #if(${generateExport})

    void excelExport(${queryDTO} queryDTO, OutputStream os);
    #end
}

