package ${package.controller};
#if($controllerFrameworkPkg.size()>0)

#end
#foreach($pkg in ${controllerFrameworkPkg})
import ${pkg};
#end
#if($controllerJavaPkg.size()>0)

#end
#foreach($pkg in ${controllerJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment} 前端控制器
 *
 * @author ${docAuthor}
#if(${docLink})
 * @see ${class.entity}
 * @see ${class.mapper}
 * @see ${class.serviceImpl}
#end
 * @since ${docDate}
 */
#if(${enableOpenApi3})
@Tag(name= "$!{table.comment}-前端控制器", description = "$!{table.comment}-前端控制器")
#elseif(${enableOpenApi2})
@Api(tags = "$!{table.comment}")
#end
#if(${enableCrossOrigin})
@CrossOrigin
#end
#if(${enableRestController})
@RestController
#else
@Controller
#end
@RequestMapping("$!{requestBaseUrl}")
#if(${enableLombok})
@RequiredArgsConstructor
#end
#if(${controllerSuperClass})
public class ${controller} extends ${controllerSuperClass} {
#else
public class ${controller} {
#end

    private final ${baseService} baseService;
#if(!${enableLombok})

    public ${controller}(${baseService} baseService) {
        this.baseService = baseService;
    }
#end
#if(${enableCreateByDto})

    #if(${enableOpenApi3})
    @Operation(summary = "新增")
    #elseif(${enableOpenApi2})
    @ApiOperation(value = "新增")
    #else
    /**
     * 新增
     *
     * @param dto 新增入参对象
     * @return 新增后的数据id
     */
    #end
    #if(${enableRestful})
    @PostMapping("")
    #else
    @PostMapping("/create")
    #end
    #if(!${enableRestController})
    @ResponseBody
    #end
    public ${returnTypeFormat.apply("Serializable")} create($!{requiredBodyStr}$!{enableValidStr}${createDto} dto) {
        return ${returnMethodFormat.apply("baseService.createByDto(dto)")};
    }
#end
#if(${enableUpdateByDto})

    #if(${enableOpenApi3})
    @Operation(summary = "修改")
    #elseif(${enableOpenApi2})
    @ApiOperation(value = "修改")
    #else
    /**
     * 修改
     *
     * @param dto 修改入参对象
     * @return 是否成功
     */
    #end
    #if(${enableRestful})
    @PutMapping("")
    #else
    @PostMapping("/update")
    #end
    #if(!${enableRestController})
    @ResponseBody
    #end
    public ${returnTypeFormat.apply("Boolean")} update($!{requiredBodyStr}$!{enableValidStr}${updateDto} dto) {
        return ${returnMethodFormat.apply("baseService.updateByDto(dto)")};
    }
#end
#if(${enableDeleteById} && ${table.havePrimaryKey})

    #if(${enableOpenApi3})
    @Operation(summary = "删除")
    #elseif(${enableOpenApi2})
    @ApiOperation(value = "删除")
    #else
    /**
     * 根据id删除
     *
     * @param id 主键id
     * @return 是否成功
     */
    #end
    #if(${enableRestful})
    @DeleteMapping("$!{idPathParam}")
    #else
    @PostMapping("/delete$!{idPathParam}")
    #end
    #if(!${enableRestController})
    @ResponseBody
    #end
    public ${returnTypeFormat.apply("Boolean")} delete($!{idMethodParam}${primaryKeyPropertyType} id) {
        return ${returnMethodFormat.apply("baseService.removeById(id)")};
    }
#end
#if(${enableSelectVoById} && ${table.havePrimaryKey})

    #if(${enableOpenApi3})
    @Operation(summary = "根据id查询详情")
    #elseif(${enableOpenApi2})
    @ApiOperation(value = "根据id查询详情")
    #else
    /**
     * 根据id查询详情
     *
     * @param id 主键id
     * @return 查询结果
     */
    #end
    #if(${enableRestful})
    @GetMapping("$!{idPathParam}")
    #else
    @GetMapping("/detail$!{idPathParam}")
    #end
    #if(!${enableRestController})
    @ResponseBody
    #end
    public ${returnTypeFormat.apply("${queryVo}")} voById($!{idMethodParam}${primaryKeyPropertyType} id) {
        return ${returnMethodFormat.apply("baseService.voById(id)")};
    }
#end
#if(${enableSelectVoList})

    #if(${enableOpenApi3})
    @Operation(summary = "列表查询")
    #elseif(${enableOpenApi2})
    @ApiOperation(value = "列表查询")
    #else
    /**
     * 列表查询
     *
     * @param dto 查询条件
     * @return 查询结果
     */
    #end
    ${queryRequestMapping}("/list")
    #if(!${enableRestController})
    @ResponseBody
    #end
    public ${returnTypeFormat.apply("List<${queryVo}>")} list($!{queryBodyStr}${queryDto} dto) {
        #if($sqlBooster)
        return ${returnMethodFormat.apply("baseService..appendByBean(dto).list()")};    
        #else
        return ${returnMethodFormat.apply("baseService.voList(dto)")};
        #end
    }
#end
#if(${enableSelectVoPage})

    #if(${enableOpenApi3})
    @Operation(summary = "分页查询")
    #elseif(${enableOpenApi2})
    @ApiOperation(value = "分页查询")
    #else
    /**
     * 分页查询
     *
     * @param dto 查询条件
     * @param current 页码
     * @param size 每页大小
     * @return 查询结果
     */
    #end
    ${queryRequestMapping}("/page")
    #if(!${enableRestController})
    @ResponseBody
    #end
    public ${returnTypeFormat.apply(${pageTypeFormat.apply(${queryVo})})} page($!{queryBodyStr}${queryDto} dto$!{pageMethodParams}) {
        #if(${queryDtoSuperClass})
        Long current = dto.${pageGetter};
        Long size = dto.${sizeGetter};
        #end
        Long 
        #if($sqlBooster)
        return ${returnMethodFormat.apply(${pageMethodFormat.apply("baseService.lambdaBooster().appendByBean(dto).page(cuurent, size))")})};
        #else
        return ${returnMethodFormat.apply(${pageMethodFormat.apply("baseService.voPage(dto, current, size)")})};
        #end
    }
#end
#if(${enableExcelImport})

    #if(${enableOpenApi3})
    @Operation(summary = "下载excel导入模板")
    #elseif(${enableOpenApi2})
    @ApiOperation(value = "下载excel导入模板")
    #else
    /**
     * 下载excel导入模板
     */
    #end
    @GetMapping("/excel/template")
    public void excelTemplate(HttpServletResponse response) throws IOException {
        response.setContentType("application/vnd.ms-excel");
##        response.setHeader("Access-Control-Expose-Headers", "Content-Disposition");
        response.setHeader("Content-Disposition", "attachment;filename=" + System.currentTimeMillis() + ".xlsx");
        baseService.excelTemplate(response.getOutputStream());
    }

    #if(${enableOpenApi3})
    @Operation(summary = "excel文件导入")
    #elseif(${enableOpenApi2})
    @ApiOperation(value = "excel文件导入")
    #else
    /**
     * excel文件导入
     *
     * @param excel excel文件
     * @return 导入条数
     */
    #end
    @PostMapping("/excel/import")
    #if(!${enableRestController})
    @ResponseBody
    #end
    public ${returnTypeFormat.apply("Integer")} excelImport(@RequestParam("excel") MultipartFile excel) throws IOException {
        if (excel == null || excel.isEmpty()) return ${returnMethodFormat.apply(0)};
        return ${returnMethodFormat.apply("baseService.excelImport(excel.getInputStream())")};
    }
#end
#if(${enableExcelExport})

    #if(${enableOpenApi3})
    @Operation(summary = "excel文件导出")
    #elseif(${enableOpenApi2})
    @ApiOperation(value = "excel文件导出")
    #else
    /**
     * excel文件导出
     * 
     * @param dto 查询条件
     */
    #end
    ${queryRequestMapping}("/excel/export")
    public void excelExport($!{queryBodyStr}${queryDto} dto, HttpServletResponse response) throws IOException {
        response.setContentType("application/vnd.ms-excel");
##        response.setHeader("Access-Control-Expose-Headers", "Content-Disposition");
        response.setHeader("Content-Disposition", "attachment;filename=" + System.currentTimeMillis() + ".xlsx");
        #if($sqlBooster)
        SqlContext<SysUser> build = SqlBuilder.of(baseService).appendEqByBean(dto).build();
        baseService.excelExport(build, response.getOutputStream());
        #else
        baseService.excelExport(dto, response.getOutputStream());
        #end
    }
#end
}