package ${package.excelExportDTO};
#if($excelExportDTOFramePkg.size()>0)

#end
#foreach($pkg in ${excelExportDTOFramePkg})
import ${pkg};
#end
#if($excelExportDTOJavaPkg.size()>0)

#end
#foreach($pkg in ${excelExportDTOJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-导出DTO
 *
 * @author ${author}
#if(${docLink})
 * @see ${class.entity}
 * @see ${class.mapper}
 * @see ${class.serviceImpl}
#end
 * @since ${date}
 */
#if(${lombok})
@Data
#end
@ExcelIgnoreUnannotated
public class ${excelExportDTO}#if(${serializableUID}) implements Serializable#end {
#if(${serializableUID})

    #if(${serializableAnnotation})
    @Serial
    #end
    private static final long serialVersionUID = 1L;
#end
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#else

##    #if("$!field.comment" != "")
##        #if(${swagger3})
##    @Schema(description = "${field.comment}")
##        #elseif(${swagger2})
##    @ApiModelProperty("${field.comment}")
##        #else
##    /**
##     * ${field.comment}
##     */
##        #end
##    #end
    @ExcelProperty(value = "${field.comment}")
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------
## ----------BEGIN getter/setter----------
#if(!${lombok})
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#else
    #if(${field.propertyType.equals("boolean")})
        #set($getprefix="is")
    #else
        #set($getprefix="get")
    #end

    public ${field.propertyType} ${getprefix}${field.capitalName}() {
        return ${field.propertyName};
    }
    
    public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
        this.${field.propertyName} = ${field.propertyName};
    }
#end
#end
#end
## ----------  END getter/setter  ----------

}
