package ${package.excelImportDTO};
#if($excelImportDTOFramePkg.size()>0)

#end
#foreach($pkg in ${excelImportDTOFramePkg})
import ${pkg};
#end
#if($excelImportDTOJavaPkg.size()>0)

#end
#foreach($pkg in ${excelImportDTOJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-导入DTO
 *
 * @author ${author}
#if(${docLink})
 * @see ${class.entity}
 * @see ${class.serviceImpl}
#end
 * @since ${date}
 */
#if(${lombok})
@Data
#end
@ExcelIgnoreUnannotated
public class ${excelImportDTO}#if(${serializableUID}) implements Serializable#end {
#if(${serializableUID})

    #if(${serializableAnnotation})
    @Serial
    #end
    private static final long serialVersionUID = 1L;
#end
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#elseif(${field.versionField})
#elseif(${field.logicDeleteField})
#elseif(${field.fill} && (${field.fill}=="INSERT" || ${field.fill}=="INSERT_UPDATE"))
#elseif(${editExcludeColumns.contains(${field.columnName})})
#else

    #if("$!field.comment" != "")
        #if(${springdoc})
    @Schema(description = "${field.comment}")
        #elseif(${swagger})
    @ApiModelProperty("${field.comment}")
        #else
    /**
     * ${field.comment}
     */
        #end
    #end
    @ExcelProperty(value = "${field.comment}")
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------
## ----------BEGIN getter/setter----------
#if(!${lombok})
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#elseif(${field.versionField})
#elseif(${field.logicDeleteField})
#elseif(${field.fill} && (${field.fill}=="INSERT" || ${field.fill}=="INSERT_UPDATE"))
#elseif(${editExcludeColumns.contains(${field.columnName})})
#else
    #if(${field.propertyType.equals("boolean")})
        #set($getprefix="is")
    #else
        #set($getprefix="get")
    #end

    public ${field.propertyType} ${getprefix}${field.capitalName}() {
        return ${field.propertyName};
    }

    #if(${chainModel})
    public ${insertDTO} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #else
    public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #end
        this.${field.propertyName} = ${field.propertyName};
    #if(${chainModel})
        return this;
    #end
    }
#end
#end
#end
## ----------  END getter/setter  ----------
}
