package ${package.queryVO};
#if($queryVOFramePkg.size()>0)

#end
#foreach($pkg in ${queryVOFramePkg})
import ${pkg};
#end
#if($queryVOJavaPkg.size()>0)

#end
#foreach($pkg in ${queryVOJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-VO
 *
 * @author ${docAuthor}
#if(${docLink})
 * @see ${class.entity}
 * @see ${class.mapper}
 * @see ${class.serviceImpl}
#end
 * @since ${docDate}
 */
#if(${enableLombok})
@Data
    #if(${enableChainSetter})
@Accessors(chain = true)
    #end
    #if(${queryVOExtendsEntity})
@EqualsAndHashCode(callSuper = true)
    #end
#end
#if(${enableOpenApi3})
@Schema(description = "$!{table.comment}-VO")
#elseif(${enableOpenApi2})
@ApiModel(description = "$!{table.comment}-VO")
#end
#if(${queryVOExtendsEntity})
public class ${queryVO} extends ${entity}#if(${enableSerializableUID}) implements Serializable#end {
#else
public class ${queryVO}#if(${enableSerializableUID}) implements Serializable#end {
#end
#if(${enableSerializableUID})

    #if(${enableSerializableAnnotation})
    @Serial
    #end
    private static final long serialVersionUID = 1L;
#end
## ----------  BEGIN 字段循环遍历  ----------
#if(!${queryVOExtendsEntity})
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#else

    #if("$!field.comment" != "")
        #if(${enableOpenApi3})
    @Schema(description = "${field.comment}")
        #elseif(${enableOpenApi2})
    @ApiModelProperty("${field.comment}")
        #else
    /**
     * ${field.comment}
     */
        #end
    #end
    private ${field.propertyType} ${field.propertyName};
#end
#end
#end
## ----------  END 字段循环遍历  ----------
#if(!${enableLombok} && !${queryVOExtendsEntity})
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#else
    #if(${field.propertyType.equals("boolean")})
        #set($getprefix="is")
    #else
        #set($getprefix="get")
    #end

    public ${field.propertyType} ${getprefix}${field.capitalName}() {
        return ${field.propertyName};
    }

    #if(${enableChainSetter})
    public ${queryVO} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #else
    public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #end
        this.${field.propertyName} = ${field.propertyName};
     #if(${enableChainSetter})
        return this;
    #end
    }
#end
#end
#end

}
