package ${package.updateDto};
#if($updateDtoFramePkg.size()>0)

#end
#foreach($pkg in ${updateDtoFramePkg})
import ${pkg};
#end
#if($updateDtoJavaPkg.size()>0)

#end
#foreach($pkg in ${updateDtoJavaPkg})
import ${pkg};
#end

/**
 * $!{table.comment}-修改Dto
 *
 * @author ${docAuthor}
#if(${docLink})
 * @see ${class.entity}
 * @see ${class.serviceImpl}
#end
 * @since ${docDate}
 */
#if(${enableLombok})
@Data
    #if(${enableChainSetter})
@Accessors(chain = true)
    #end
#end
#if(${enableOpenApi3})
@Schema(description = "$!{table.comment}-修改Dto")
#elseif(${enableOpenApi2})
@ApiModel(description = "$!{table.comment}-修改Dto")
#end
public class ${updateDto}#if(${enableSerializableUID}) implements Serializable#end {
#if(${enableSerializableUID})

    #if(${enableSerializableAnnotation})
    @Serial
    #end
    private static final long serialVersionUID = 1L;
#end
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.fill} && (${field.fill}=="UPDATE" || ${field.fill}=="INSERT_UPDATE" || ${field.fill}=="INSERT"))
#elseif(${field.logicDeleteField})
#elseif(${editExcludeColumns.contains(${field.columnName})})
#else

    #if("$!field.comment" != "")
        #if(${enableOpenApi3})
    @Schema(description = "${field.comment}")
        #elseif(${enableOpenApi2})
    @ApiModelProperty("${field.comment}")
        #else
    /**
     * ${field.comment}
     */
        #end
    #end
    #if(${enableValid})## 参数校验
        #if(${field.keyFlag})## 主键
    @NotNull(message = "${field.comment}为必填项")
            #if(${field.propertyType}=="String")
    @NotBlank(message = "${field.comment}为必填项")
            #end
        #end
        #if(${field.versionField})## 乐观锁注解
    @NotNull(message = "${field.comment}为必填项")
            #if(${field.propertyType}=="String")
    @NotBlank(message = "${field.comment}为必填项")
            #end
        #end
        #if(${field.propertyType} == "String")## 字符串长度限制
    @Size(message = "${field.comment}长度不能超过${field.metaInfo.length}", max = ${field.metaInfo.length})
        #end
    #end
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------
#if(!${enableLombok})
#foreach($field in ${table.fields})
#if(${field.logicDeleteField})
#elseif(${field.fill} && (${field.fill}=="UPDATE" || ${field.fill}=="INSERT_UPDATE" || ${field.fill}=="INSERT"))
#elseif(${editExcludeColumns.contains(${field.columnName})})
#else
    #if(${field.propertyType.equals("boolean")})
        #set($getprefix="is")
    #else
        #set($getprefix="get")
    #end

    public ${field.propertyType} ${getprefix}${field.capitalName}() {
        return ${field.propertyName};
    }

    #if(${enableChainSetter})
    public ${updateDto} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #else
    public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #end
        this.${field.propertyName} = ${field.propertyName};
    #if(${enableChainSetter})
        return this;
    #end
    }
#end
#end
#end
}
